h1 {
	text-align: center;
}

.background{
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
}

.sections{
	background-color: powderblue;
	padding: 10px;
	border: 2px solid black;
}

.consoleImage{
	float: right;
}

.gameImage{
	width:150px;
	height:150px;
}
