h1 {
	text-align: center;
}

.background{
background-repeat: no-repeat;
background-size: 100%;
background-attachment: fixed;
}

.navBar{
	border: 2px solid black;
}

.navMain{
	width: 300px;
	text-align: center;
	border: 2px solid black;
	display: inline-block;
}

.navMenuOptions{
	border: 2px solid black;
}

.hobbies{
	display: hidden;
	border: 2px solid black;
}

.trivia{
	display: hidden;
	border: 2px solid black;
}

.sections{
	background-color: powderblue;
	border-radius: 25px;
	padding: 10px;
	border: 2px solid black;
}

.consoleImage{
	float: right;
	border-radius: 25px;
}

.gameImage{
	width:150px;
	height:150px;
}
